<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fu.prm391.project.androidcommerce">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.login.RegisterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.login.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.admin.AdminViewOrderActivity" />
        <activity android:name=".activity.customer.CheckOutActivity" />
        <activity android:name=".activity.customer.CustomerHomeActivity" />
        <activity android:name=".activity.customer.ProductDetailActivity" />
        <activity android:name=".activity.admin.AdminViewOrderDetailActivity" />
        <activity android:name=".activity.admin.AdminViewProductActivity" />
        <activity android:name=".activity.admin.AdminAddProductActivity" />
        <activity android:name=".activity.admin.AdminViewCategoryActivity" />
        <activity android:name=".activity.admin.AdminViewUserActivity" />
        <activity android:name=".activity.admin.BaseAdminActivity" />
        <activity android:name=".activity.customer.CustomerMenuActivity" />
        <activity android:name=".activity.customer.CategoryActivity" />
        <activity android:name=".activity.customer.ProductListActivity" />
        <activity android:name=".activity.customer.CustomerViewProfileActivity" />
        <activity android:name=".activity.customer.CustomerViewOrderActivity" />
        <activity android:name=".activity.customer.CheckOutSuccessActivity" />
        <activity android:name=".activity.customer.CustomerViewOrderDetailActivity" />
        <activity android:name=".activity.customer.CustomerReviewActivity" />
        <activity android:name=".activity.admin.AdminAddCategoryActivity" />
        <activity android:name=".activity.admin.AdminHomeActivity" />
        <activity android:name=".activity.admin.AdminViewOutOfStockProduct" />
        <activity android:name=".activity.customer.ProfileActivity" />
        <activity android:name=".activity.admin.AdminViewReviewActivity"></activity>
    </application>

</manifest>